# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Google Drive
credentials.json
token.pickle
service-account.json

# Data directory and files
data/
*.mp4
*.pdf

# Virtual Environment
venv/
.env

# macOS
.DS_Store
../.DS_Store
**/.DS_Store