annotated-types==0.7.0
anyio==3.7.1
attrs==25.1.0
beautifulsoup4==4.13.3
cachetools==5.5.1
certifi==2025.1.31
chardet==4.0.0
charset-normalizer==3.4.1
click==8.1.8
dataclasses==0.6
deprecation==2.1.0
distro==1.9.0
fastapi==0.109.2
filelock==3.17.0
fsspec==2025.2.0
gdown==5.1.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.67.0
gotrue==0.2.0
grpcio==1.70.0
grpcio-status==1.70.0
grpcio-tools==1.67.1
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.0
idna==2.10
iniconfig==2.0.0
jinja2==3.1.5
llvmlite==0.44.0
markupsafe==3.0.2
more-itertools==10.6.0
mpmath==1.3.0
networkx==3.4.2
numba==0.61.0
numpy==1.26.3
nvidia-riva-client==2.18.0
openai==1.12.0
openai-whisper @ git+https://github.com/openai/whisper.git@517a43ecd132a2089d85f4ebc044728a71d49f6e
opencv-python==4.9.0.80
packaging==24.2
pdf2image==1.17.0
pillow==11.1.0
pluggy==1.5.0
postgrest-py==0.5.0
proto-plus==1.26.0
protobuf==5.29.3
py==1.11.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pydantic==2.6.1
pydantic-core==2.16.2
pyparsing==3.2.1
pypdf2==3.0.1
pysocks==1.7.1
pytesseract==0.3.13
pytest==6.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.6
realtime-py==0.1.3
regex==2024.11.6
requests==2.31.0
rfc3986==1.5.0
rsa==4.9
setuptools==70.0.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
stable-ts @ git+https://github.com/jianfch/stable-ts.git@650cc4be7185d4fbf4bd9fb9bc7efc8d4d22ad5d
starlette==0.36.3
supabase==0.0.3
sympy==1.13.1
tiktoken==0.9.0
toml==0.10.2
torch==2.6.0
torchaudio==2.6.0
tqdm==4.67.1
typing-extensions==4.12.2
uritemplate==4.1.1
urllib3==1.26.20
uvicorn==0.27.1
websockets==9.1
wheel==0.45.1
